@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@keyframes appear {
    0% {opacity: 0; transform: translate(0, 10px);} 
    100% {opacity: 1; transform: none;}
}


html {
    scroll-behavior: smooth;
}


p {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-align: left;
    
}

.call-to-action p {
    text-align: center;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: strong;
    color: white;
}

h2 {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: lighter;
}

h3 {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: lighter;
}

li {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-align: left;
    line-height: 2em;
}

a {
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color:#DEC79B;
    text-transform: uppercase;
}

a:hover {
    color: grey;
  }

a.email-link {
    text-transform: lowercase;
}

code {
    /* the code tag text looks weird probs fix it */
}


img {
    box-shadow: 5px 10px 30px black;
}

.twitter-tweet {
    box-shadow: 5px 10px 30px black;
    height: auto;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    background-color: #121212;
}

header {
    grid-area: header;
    padding: 0;
}

.content {
    grid-area: content;
    text-align: center;
    margin: 0 auto;
    animation: appear 0.5s ease-in-out forwards;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer div {
    text-align: center;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 0;
}

footer nav {
    text-align: center;
}


body header nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
}


.social-media-icon {
    height: 28px;
    width: 28px;
    color: #DEC79B;
}

#back-to-top-icon {
    height: 25px;
    width: 25px;
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    
}

#about-me img {
    order: -1;
    grid-row: 1 / 3;

}

#about-me p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

#about-me h2 {
    
}


.content h2 {
    text-align: center;
}

.content h3 {
    text-align: center;
}

.content nav {
    text-align: center;
  
}

.content nav a {
    
}

.project-nav {
    text-align: unset;
    display: flex;
    justify-content: space-between;
}

nav h2 {
    display: block;
    align: center;
}

.previous-project-nav {
    text-align: left;
}
.next-project-nav {
   
}

blockquote {
    text-align: center;
}

/* if the width of the screen is too small, the image will be first followed by the h2 then p. */
@media screen and (max-width: 479px) {
    /* start of phone styles */
    
    }


@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}