body {
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

header {
    grid-area: header;
    padding: 0;
}

.content (
    grid-area: content;
)

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

body header nav ul {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
}


.social-media-icon {
    height: 25px;
    width: 25px;
}

#back-to-top-icon {
    height: 25px;
    width: 25px;
}